---
name: Run pre-commit

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

on:
    push:
        branches: [master]
    pull_request:
        branches: ['*']

jobs:
    pre-commit:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v3
            with:
                fetch-depth: 0
        -   uses: actions/setup-python@v4
            with:
                python-version: 3
        -   uses: pre-commit/action@v3.0.0
